:root{
    --primary-color:#e50914;
    --dark-color:#141414;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-base-color: #000000;
}

body{
    font-family: 'Arial';
    -webkit-font-smoothing:antialiased;
    background: #000;
    color: #999;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4{
    color: aliceblue;
}

a{
    color: aliceblue;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;

}
img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("../img/netfix.jpg") no-repeat center center/cover;
}
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;
}
.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;

}

.showcase-top img{
    width: 170px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    
}
.showcase-content{
    position: relative;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}
.showcase-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin-bottom: 0 0 2rem;

}
.showcase-content p {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}
.tabs{
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom:  3px solid #3d3d3d;

}
.tabs .container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

}
.tabs p{
    font-size: 1.2rem;
    padding-top: 0.5rem;

}
.tabs .container >div{
    padding: 1.2rem;
}
.tabs .container >div:hover{
    color: aliceblue;
    cursor:progress;

}
.tab-border{
    border-bottom: var(--primary-color) solid 4px;
}

.tab-content{
    padding: 3rem 0;
    background: #000;
    color: #fff;
}
#tab-1-content,
#tab-2-content,
#tab-3-content{
    display: none;
}
.show{
    display: block !important;
}
#tab-1-content .tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;

}
#tab-2-content .tab-2-content-top{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
.tab-2-content-bottom{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}
.table tbody tr td:first-child{
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #222;
}
.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}
.table tbody tr td{
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;

}
.text-xl{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text-lg{
    font-size: 2rem;
    color: azure;
    margin-bottom: 1rem;
}
.text-centre{
    text-align: center;
}
.text-drak{
    color: #999;
}
footer{
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}
.footer-top, .selct {
    padding: 1rem;
    padding-left: 10%;
}
.footer-bootom{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
}
.footer-bootom li {
    padding: 0.7rem;
}
.btn{
    display: inline-block;
    background: var(--primary-color);
    color: aliceblue;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg{
    font-size: small;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}
.text-md{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

@media(max-width:960px){
    .showcase{
        height: 70vh;
    }
    .hide-sm{
        display: none;
    }
    .showcase-top img{
        top: 30%;
        left: 5%;
        transform: translate(0);
    }
    .showcase-content h1{
        font-size: 3.7rem;
        line-height: 1;
    }
}